@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Geist Mono', monospace;
  }
}

.neon-name {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #9E2A3A,
    0 0 20px #9E2A3A,
    0 0 40px #9E2A3A,
    0 0 80px #9E2A3A;

  animation: neonPulse 2.5s ease-in-out infinite alternate;
}

@keyframes neonPulse {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #9E2A3A,
      0 0 20px #9E2A3A,
      0 0 40px #9E2A3A;
  }

  to {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #9E2A3A,
      0 0 40px #9E2A3A,
      0 0 80px #9E2A3A,
      0 0 120px #9E2A3A;
  }
}